@import "./main.scss";
body {
  padding: 20px;
  margin: 0;
  color: $white;
  font-size: 18px;
  background-color: $background-color;
}

.flex {
  display: flex;
}

.center-vertically {
  align-items: center;
}

.center-horizontally {
  justify-content: center;
}

.relative {
  position: relative;
}
